<div>
  <%= link_to 'Home', root_path %> /
  <%= link_to 'About', about_path %> /
  <%= link_to 'Contact', contact_path %> /
  <%= link_to 'Projects', projects_path %> /

  <% if current_admin %>
    <%= link_to 'Logout', destroy_admin_session_path, method: :delete %>
  <% else %>
    <%= link_to 'Login', new_admin_session_path %> /
    <%= link_to 'Sign Up', new_admin_registration_path %>
  <% end %>
</div>