<div class="col-md-4">
  <div class="card" data-id="<%= project.id %>">
    <%= image_tag project.thumb_image, width: '100%' %>
    <h4><%= link_to project.title, project %></h4>
      <span class="card-text">Posted <%= distance_of_time_in_words(project.created_at, Time.now) %> ago</span>

    <% if logged_in?(:site_admin) %>
      <div class="display-inline-block">
        <span class="btn btn-default edit", aria-label="Edit">
          <%= link_to '', edit_project_path(project), class: "fa fa-pencil-square-o fa-lg" %>
        </span>
        <span class="btn btn-danger delete", aria-label="Delete">
          <%= link_to '', project, class: "fa fa-trash-o fa-lg", method: :delete, data: { confirm: 'Are you sure?' } %>
        </span>
      </div>
    <% end %>

  </div>
</div>