<% content_for :head do %>
  <meta name="turbolinks-cache-control" content="no-cache">
<% end %>
<div class="jumbotron" id="project-show-card">
  <div id="image-pagination">
    <div class="slider-for">
      <%= image_tag @project.image_1, class: "show-image"%>      
      <%= image_tag @project.image_2, class: "show-image"%>
      <%= image_tag @project.image_3, class: "show-image"%>
      <%= image_tag @project.image_4, class: "show-image"%>
      <%= image_tag @project.image_5, class: "show-image"%>
    </div>

    <div class="slider-nav">
      <%= image_tag @project.image_1, class: "show-image-thmb"%>
      <%= image_tag @project.image_2, class: "show-image-thmb"%>
      <%= image_tag @project.image_3, class: "show-image-thmb"%>
      <%= image_tag @project.image_4, class: "show-image-thmb"%>
      <%= image_tag @project.image_5, class: "show-image-thmb"%>
    </div>
  </div>

  <hr>

  <div class="container show-container">
    <div class="card-body">
      <h3><%= @project.title %></h3>
        <p class="card-text"><%= @project.body %></p>
        <p class="card-text"><span class="text-muted">Posted <%= distance_of_time_in_words(@project.created_at, Time.now) %> ago</span></p>
      <%= render 'shared/back_button' %>
    </div>
  </div>
</div>

<script>
  $(document).ready(function(){
    $('.slider-for').slick({
      slidesToShow: 1,
      slidesToScroll: 1,
      arrows: false,
      fade: true,
      asNavFor: '.slider-nav'
    });
    $('.slider-nav').slick({
      slidesToShow: 3,
      slidesToScroll: 1,
      asNavFor: '.slider-for',
      dots: true,
      centerMode: true,
      focusOnSelect: true
    });
  });
</script>


